{{ template "_head" .}}
<h1>Welcome to the Hotwire Demo</h1>
<form action="/greet" method="post">
    <label for="name">Name</label><br>
    <input type="text" name="name" id="name"><br>
    <input type="submit" value="Submit">
</form>
{{ template "_footer" .}}