{{ template "_head" .}}
<h1>Welcome to the Hotwire Demo</h1>

<div id="messages"></div>

<form action="/chat" method="post">
    <label for="message">Message</label><br>
    <textarea name="message" id="message"></textarea>
    <input type="submit" value="Send">
</form>
{{ template "_footer" .}}